@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  color: rgb(54, 2, 54);
  font-size: calc(12px + (21 - 13) * ((100vw - 320px) / (1600 - 320)));
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eaebf3;
  color: rgb(102, 7, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin-top: 0.6rem;
  color: rgb(102, 7, 102);
  word-spacing: 0.3rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

/* NOTE MENU !!! */
/* .nav {
  display: flex;
  list-style: none;
  column-gap: 0.8rem;
  margin: 0;
  padding: 0.8rem 1.6rem;
  justify-content: flex-end;
}
.nav li {
  display: inline-block;
  width: 6rem;
  padding: 0.2rem;
  text-align: center;
  box-shadow: -2px -2px 4px #fff, 3px 3px 4px #aaa;
  border-radius: 10px;
}
.nav li a {
  text-decoration: none;
  color: purple;
  text-transform: uppercase;
  font-weight: 700;
} */

/* NOTE HOME !!! */
.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.home .slide {
  position: absolute;
  display: none;
  /* justify-content: flex-start; */
  /* align-items: center; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  animation: slide 1s ease;
}
.home .active {
  display: flex;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(1.2) translateX(200px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
.container {
  position: absolute;
  bottom: 7rem;
  max-width: 30%;
  margin: 0 0 0 8rem;
}
.home .container {
  flex-grow: 1;
}
.home .caption {
  width: 100%;
}
.home .caption h1 {
  font-size: 2.5rem;
  text-align: unset;
  color: rgb(163, 56, 127);
  margin: 0;
}
.home .active .caption h1 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p {
  font-size: 1rem;
  color: rgb(180, 120, 165);
}
.home .active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
@keyframes captionText {
  0% {
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.home .controls .prev,
.home .controls .next {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  color: #fff;
  background: purple;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home .controls .prev {
  left: 0.3rem;
}
.home .controls .next {
  right: 0.3rem;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: rgb(63, 8, 63);
}
.indicators {
  position: absolute;
  display: flex;
  column-gap: 0.5rem;
  left: 0;
  right: 0;
  bottom: 1rem;
  justify-content: center;
  z-index: 2;
}
.home .indicators div {
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
  background: #eaebf3;
  border-radius: 100%;
  color: purple;
  box-shadow: inset -3px -3px 3px #fff, inset 2px 2px 3px #aaa;
  cursor: pointer;
}
.home .indicators .active-circle {
  /* font-size: 1.2rem; */
  font-weight: 700;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
}
