@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  color: rgb(54, 2, 54);
  font-size: calc(11px + (21 - 13) * ((100vw - 320px) / (1600 - 320)));
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eaebf3;
  color: rgb(102, 7, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin-top: 0.6rem;
  color: rgb(102, 7, 102);
  word-spacing: 0.3rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

/* NOTE HOME !!! */
/* .nav {
  display: flex;
  list-style: none;
  column-gap: 0.8rem;
  margin: 0;
  padding: 0.8rem 1.6rem;
  justify-content: flex-end;
}
.nav li {
  display: inline-block;
  width: 6rem;
  padding: 0.2rem;
  text-align: center;
  box-shadow: -2px -2px 4px #fff, 3px 3px 4px #aaa;
  border-radius: 10px;
}
.nav li a {
  text-decoration: none;
  color: purple;
  text-transform: uppercase;
  font-weight: 700;
} */
.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.home .slide {
  position: absolute;
  display: none;
  /* justify-content: flex-start; */
  /* align-items: center; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  animation: slide 1s ease;
}
.home .active {
  display: flex;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(1.2) translateX(200px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
.container {
  position: absolute;
  bottom: 7rem;
  max-width: 30%;
  margin: 0 0 0 8rem;
}
.home .container {
  flex-grow: 1;
}
.home .caption {
  width: 100%;
}
.home .caption h1 {
  font-size: 2.5rem;
  text-align: unset;
  color: rgb(163, 56, 127);
  margin: 0;
}
.home .active .caption h1 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p {
  font-size: 1rem;
  color: rgb(207, 195, 204);
}
.home .active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
@keyframes captionText {
  0% {
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.home .controls .prev,
.home .controls .next {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  color: #fff;
  background: purple;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home .controls .prev {
  left: 0.3rem;
}
.home .controls .next {
  right: 0.3rem;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: rgb(63, 8, 63);
}
.indicators {
  position: absolute;
  display: flex;
  column-gap: 0.5rem;
  left: 0;
  right: 0;
  bottom: 1rem;
  justify-content: center;
  z-index: 2;
}
.home .indicators div {
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
  background: #eaebf3;
  border-radius: 100%;
  color: purple;
  box-shadow: inset -3px -3px 3px #fff, inset 2px 2px 3px #aaa;
  cursor: pointer;
}
.home .indicators .active-circle {
  /* font-size: 1.2rem; */
  font-weight: 700;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
}

/* NOTE ABOUT !!! */
.about {
  padding: 2rem 2rem;
}
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
}
.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* border-left: 0.3rem solid purple; */
}
.about-right p {
  text-align: justify;
}
.img-container {
  position: relative;
  width: 270px;
  height: 270px;
  padding: 20px;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  opacity: 0;
}
.img-show {
  animation: aboutImage 0.7s ease;
  opacity: 1;
}
@keyframes aboutImage {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.img-container::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: 4px;
  left: calc(50% - 0.35rem);
  border-radius: 50%;
  box-shadow: inset 3px 3px 3px #aaa, inset -3px -3px 3px #fff;
}
.img-box {
  width: 100%;
  height: 100%;
  background: #aaa;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  overflow: hidden;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
img:hover {
  transform: scale(1.05);
}
.about-left span {
  display: block;
  font-size: 0.85rem;
  text-align: center;
}

/* NOTE WORK !!! */
.work {
  padding: 2rem 0 4rem;
}
.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  column-gap: 2rem;
}
.work-card {
  position: relative;
  margin: 2rem 0;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
}
.work-card::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: 4px;
  left: calc(50% - 0.35rem);
  border-radius: 50%;
  box-shadow: inset 3px 3px 3px #aaa, inset -3px -3px 3px #fff;
}
.work-card-container {
  position: relative;
  width: 270px;
  height: 270px;
  padding: 20px;
  /* box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa; */
}
.work-img-box {
  width: 100%;
  height: 100%;
  background: #aaa;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  overflow: hidden;
}
.work-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
.work-card p {
  text-align: center;
  margin: 0;
  font-weight: 700;
  letter-spacing: 2px;
}
.work-card hr {
  width: 80%;
  color: rgb(179, 112, 179);
}
.work-card button {
  display: block;
  width: 40%;
  padding: 0.5rem 0;
  /* color: rgb(102, 7, 102); */
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0.8rem auto;
  border: none;
  border-radius: 10px;
  box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff;
  cursor: pointer;
}
.work-card button:focus {
  outline-style: none;
}
.work-card button:hover {
  box-shadow: -4px -4px 4px #fff, 4px 4px 4px #aaa;
}
.work .work-wrapper .card1 {
  opacity: 0;
}
.card1-show {
  opacity: 1;
  animation: card1Show 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes card1Show {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.work .work-wrapper .card2 {
  opacity: 0;
}
.card2-show {
  opacity: 1;
  animation: card2Show 3s ease;
  animation-fill-mode: forwards;
}
@keyframes card2Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work .work-wrapper .card3 {
  opacity: 0;
}
.card3-show {
  opacity: 1;
  animation: card3Show 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes card3Show {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* NOTE CONTACT !!! */
.contact {
  position: relative;
  padding: 2rem 0;
}
form {
  display: grid;
  gap: 1rem;
  width: 45%;
  margin: 2rem auto;
}
.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 0.6rem;
}
input,
textarea {
  width: 100%;
  color: rgb(98, 7, 98);
  border: none;
  border-radius: 15px;
  background-color: #eaebf3;
  box-shadow: -3px -3px 3px #fff, 3px 3px 3px #aaa;
}
input {
  padding: 0.8rem 0.8rem 0.8rem 1.8rem;
  font-size: 0.9rem;
}
textarea {
  font-size: 0.9rem;
  padding: 0.65rem 0.8rem 0.8rem 2rem;
  font-family: "Poppins", sans-serif;
}
input:focus,
textarea:focus {
  box-shadow: inset 3px 3px 3px #aaa, inset -3px -3px 3px #fff;
  outline-style: none;
  color: purple;
}
.form-control {
  position: relative;
}
i {
  color: rgb(102, 7, 102);
}
.input-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.85rem;
}
.textarea-box .input-icon {
  top: 0.95rem;
}
.contact form button {
  display: block;
  width: 40%;
  padding: 0.6rem 0;
  color: rgb(102, 7, 102);
  font-weight: 700;
  /* font-size: 1rem; */
  letter-spacing: 2px;
  margin: 0.8rem auto;
  border: none;
  border-radius: 10px;
  box-shadow: -4px -4px 4px #fff, 4px 4px 4px #aaa;
  cursor: pointer;
}
.contact form button:active {
  box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff;
}
.contact form button:focus {
  outline-style: none;
}
.left-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 75%;
  left: 1rem;
  height: 3rem;
  width: 33%;
  background-color: rgba(128, 3, 128, 0.8);
  opacity: 0;
}
.left-box span {
  font-size: 0.85rem;
  color: #fff;
}
.right-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 1rem;
  height: 3rem;
  width: 20%;
  background-color: rgba(128, 3, 128, 0.7);
  opacity: 0;
}
.right-box span {
  color: #fff;
}
.right-box-show {
  opacity: 1;
  animation: box-width1 1s ease;
  animation-fill-mode: backwards;
}
@keyframes box-width1 {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    width: 20%;
  }
  70% {
    width: 18%;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}
.left-box-show {
  opacity: 1;
  animation: box-width2 1s ease;
  animation-fill-mode: backwards;
}
@keyframes box-width2 {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    width: 33%;
  }
  70% {
    width: 28%;
  }
  100% {
    width: 33%;
    opacity: 1;
  }
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.icon {
  display: flex;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* box-shadow: -3px -3px 4px #fff, 4px 4px 4px #aaa; */
  box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
.icon-show {
  opacity: 1;
  animation: buttons 2s ease;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}
@keyframes buttons {
  0% {
    transform: translateX(-100px) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(360deg);
    opacity: 1;
  }
}
.icon:hover {
  /* box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff; */
  box-shadow: -3px -3px 4px #fff, 4px 4px 4px #aaa;
  font-size: 1.04rem;
}
