@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  color: rgb(54, 2, 54);
  font-size: calc(12px + (21 - 13) * ((100vw - 320px) / (1600 - 320)));
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eaebf3;
  color: rgb(102, 7, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin-top: 0.6rem;
  color: rgb(102, 7, 102);
  word-spacing: 0.3rem;
  letter-spacing: 1px;
  font-size: 1.7rem;
}

/* NOTE HOME !!! */
.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
nav {
  position: fixed;
  display: flex;
  top: 1rem;
  width: 100%;
  padding: 0 0.5rem;
  /* left: 0.5rem; */
  z-index: 11;
  /* background: pink; */
}
.home .menu-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  text-transform: uppercase;
  color: purple;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 99;
}
.home .menu-btn:active {
  box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff;
}
.home .menu-btn:focus {
  outline-style: none;
}
.nav {
  display: none;
  position: relative;
  list-style: none;
}
.nav li a {
  text-decoration: none;
}
.nav li a i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff;
  color: purple;
  background-color: #eaebf3;
  animation: showNav 0.5s ease;
}
@keyframes showNav {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* NOTE SLIDER !!! */
.home .slide {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  animation: slide 1s ease;
}
.home .active {
  display: flex;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(1.2) translateX(200px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
.container {
  position: absolute;
  bottom: 7rem;
  max-width: 30%;
  margin: 0 0 0 8rem;
}
.home .container {
  flex-grow: 1;
}
.home .caption {
  width: 100%;
}
.home .caption h1 {
  font-size: 2.5rem;
  text-align: unset;
  color: rgb(163, 56, 127);
  margin: 0;
}
.home .active .caption h1 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p {
  font-size: 1rem;
  color: rgb(180, 120, 165);
}
.home .active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
@keyframes captionText {
  0% {
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.home .controls .prev,
.home .controls .next {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  color: #fff;
  background: purple;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home .controls .prev {
  left: 0.3rem;
}
.home .controls .next {
  right: 0.3rem;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: rgb(63, 8, 63);
}
.indicators {
  position: absolute;
  display: flex;
  column-gap: 0.5rem;
  left: 0;
  right: 0;
  bottom: 1rem;
  justify-content: center;
  z-index: 2;
}
.home .indicators div {
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
  background: #eaebf3;
  border-radius: 100%;
  color: purple;
  box-shadow: inset -3px -3px 3px #fff, inset 2px 2px 3px #aaa;
  cursor: pointer;
}
.home .indicators .active-circle {
  /* font-size: 1.2rem; */
  font-weight: 700;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
}
.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eaebf3;
  z-index: 33;
}
.loader {
  width: 6rem;
  height: 6rem;
  border: 1rem solid purple;
  border-radius: 50%;
  border-top-color: #ddd;
  border-bottom-color: #ddd;
  animation: loader 2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0);
    border-left-color: purple;
    border-right-color: purple;
  }
  50% {
    transform: rotate(180deg);
    border-left-color: rgb(231, 15, 231);
    border-right-color: rgb(231, 15, 231);
  }
  100% {
    transform: rotate(360deg);
    border-left-color: purple;
    border-right-color: purple;
  }
}
@media screen and (min-width: 1200px) {
  .nav li {
    position: absolute;
  }
  .nav .nav-item1 {
    top: -35px;
    left: 5px;
  }
  .nav .nav-item2 {
    top: 5px;
    left: 15px;
  }
  .nav .nav-item3 {
    top: 43px;
    left: -6px;
  }
  .nav .nav-item4 {
    top: 65px;
    left: -45px;
  }
  .nav li a i:hover {
    box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  }
  .nav .nav-item1 a i:hover::after {
    content: "HOME";
    position: absolute;
    width: 500px;
    left: 70px;
    font-size: 3rem;
    letter-spacing: 0.7rem;
    color: #aaa;
    animation: showNavText 0.5s ease;
  }
  .nav .nav-item2 a i:hover::after {
    content: "ABOUT ME";
    position: absolute;
    width: 500px;
    left: 70px;
    font-size: 3rem;
    letter-spacing: 0.7rem;
    color: #aaa;
    animation: showNavText 0.5s ease;
  }
  .nav .nav-item3 a i:hover::after {
    content: "MY WORK";
    position: absolute;
    width: 500px;
    left: 70px;
    font-size: 3rem;
    letter-spacing: 0.7rem;
    color: #aaa;
    animation: showNavText 0.5s ease;
  }
  .nav .nav-item4 a i:hover::after {
    content: "CONTACT";
    position: absolute;
    width: 500px;
    left: 90px;
    font-size: 3rem;
    letter-spacing: 0.7rem;
    color: #aaa;
    animation: showNavText 0.5s ease;
  }
  @keyframes showNavText {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1199px) {
  /* .nav {
    position: absolute;
    top: -1rem;
    left: 6rem;
    width: 30%;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    background: #eaebf3;
    box-shadow: -4px -4px 4px #fff, 4px 4px 4px #aaa;
  } */
  .nav {
    position: absolute;
    top: -6rem;
    left: -13.6rem;
    width: 50%;
    height: 13rem;
    /* column-gap: 1.5rem; */
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    border-radius: 10px;
    background: #eaebf3;
    box-shadow: 4px 4px 4px #fff, -4px -4px 4px #aaa;
    transform: rotate(135deg);
  }
  @keyframes showNav {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .nav li {
    margin: 0 1rem;
    transform: rotate(-135deg);
  }
  .nav li a i {
    box-shadow: -4px -4px 4px #fff, 4px 4px 4px #aaa;
  }
}

@media screen and (max-width: 560px) {
  .nav {
    position: absolute;
    top: -10rem;
    left: -13rem;
    width: 90%;
    height: 20rem;
    /* column-gap: 1.5rem; */
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    border-radius: 10px;
    background: #eaebf3;
    box-shadow: 4px 4px 4px #fff, -4px -4px 4px #aaa;
    transform: rotate(135deg);
  }
  .home .slide {
    background-size: cover;
    background-position: center;
  }
  .container {
    top: 2rem;
    bottom: 0;
    max-width: 50%;
    margin: 0 0 0 2.5rem;
  }
}
