/* NOTE WORK !!! */
.work {
  padding: 2rem 0 4rem;
}
.work-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  column-gap: 2rem;
}
.work-card {
  position: relative;
  margin: 2rem 0;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
}
.work-card::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: 4px;
  left: calc(50% - 0.35rem);
  border-radius: 50%;
  box-shadow: inset 3px 3px 3px #aaa, inset -3px -3px 3px #fff;
}
.work-card-container {
  width: 270px;
  height: 290px;
  padding: 20px;
}
.work-img-box {
  width: 100%;
  height: 100%;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  overflow: hidden;
}
.work-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.work-card img:hover {
  transform: scale(1.05);
}
.work-card p {
  text-align: center;
  margin: 0;
  font-weight: 700;
  letter-spacing: 2px;
}
.work-card hr {
  width: 80%;
  color: rgb(179, 112, 179);
}
.work-card button {
  position: relative;
  display: block;
  width: 40%;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0.8rem auto;
  border: none;
  border-radius: 10px;
  box-shadow: -4px -4px 4px #fff, 4px 4px 4px #aaa;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.work-card button:hover {
  color: rgb(189, 15, 189);
}
.work .work-wrapper .card1 {
  opacity: 0;
}
.card1-show {
  opacity: 1;
  animation: card1Show 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes card1Show {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.work .work-wrapper .card2 {
  opacity: 0;
}
.card2-show {
  opacity: 1;
  animation: card2Show 3s ease;
  animation-fill-mode: forwards;
}
@keyframes card2Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work .work-wrapper .card3 {
  opacity: 0;
}
.card3-show {
  opacity: 1;
  animation: card3Show 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes card3Show {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.work .work-wrapper .card4,
.work .work-wrapper .card5,
.work .work-wrapper .card6 {
  opacity: 0;
}

@media screen and (max-width: 560px) {
  .work {
    padding: 1rem;
  }
  .work-wrapper {
    grid-template-columns: auto;
    width: 80%;
    margin: 0 auto;
  }
  .work-card p {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  .work-card button {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}

/* NOTE MODAL !!! */
.modal {
  display: none;
  position: fixed;
  grid-template-columns: 100px 1fr;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  background: #eaebf3;
  z-index: 21;
  transition: all 0.3s ease;
}
.show-modal {
  display: grid;
  animation: showModal 0.6s cubic-bezier(0.91, 0.7, 0.6, 0.29);
}
.close {
  animation: close 0.6s cubic-bezier(0.91, 0.7, 0.6, 0.29);
  /* animation-fill-mode: forwards; */
}
@keyframes showModal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    display: none;
  }
}
@keyframes close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.work .modal .modal-left {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 5rem 0;
  align-items: center;
  overflow-y: auto;
  background-color: #eaebf3;
  box-shadow: -5px -5px 7px #fff, 5px 5px 7px #aaa;
  z-index: 3;
}
.work .modal .modal-left .close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  box-shadow: -3px -3px 7px #fff, 5px 5px 7px #aaa;
  text-transform: uppercase;
  color: purple;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.work .modal .modal-left .close-btn:active {
  box-shadow: inset 4px 4px 4px #aaa, inset -4px -4px 4px #fff;
}
.work .modal .modal-left .thumbs {
  display: grid;
  row-gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(40px, 80px));
  padding: 0.5rem 0.5rem 1rem;
  margin: auto;
}
.work .modal .modal-left .thumb {
  width: 100%;
  height: 100%;
  box-shadow: -3px -3px 5px #fff, 5px 5px 7px #aaa;
  text-align: center;
  cursor: pointer;
}
.work .modal .modal-left .thumbs img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.work .modal .gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: auto;
  animation: showGallery 1.5s ease;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
@keyframes showGallery {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work .modal .gallery-box .gallery {
  display: flex;
  /* grid-template-columns: repeat(1, minmax(150px, 800px)); */
  /* grid-auto-rows: auto; */
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
  padding: 1rem;
  /* margin: auto; */
  /* box-shadow: -7px -7px 10px #fff, 7px 7px 10px #aaa; */
}
.work .modal .gallery-box .gallery .gallery-img {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 70%;
  /* box-shadow: inset 4px 4px 10px #aaa, inset -4px -4px 10px #fff; */
  box-shadow: -7px -7px 10px #fff, 9px 9px 12px #aaa;
  padding: 1rem;
  border-radius: 11px;
  transition: all 500ms;
  overflow: hidden;
  text-align: center;
  z-index: 3;
}
.spot {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: purple;
  z-index: 2;
  filter: blur(1px);
  animation: showSpot 5s ease;
}
@keyframes showSpot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4rem);
    opacity: 0;
    display: none;
  }
}

.work .modal .gallery-box .gallery .gallery-img img {
  display: flex;
  /* align-self: baseline; */
  width: 100%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.gallery-modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 51;
}
.gallery-modal img {
  max-width: 850px;
  height: auto;
}
@media screen and (min-width: 560px) {
  .work .modal .gallery-box .gallery .gallery-img-tall {
    /* grid-row: span 2 / auto;
    grid-column: span 2 / auto; */
  }
}
@media screen and (max-width: 960px) {
  .work .modal .gallery-box .gallery {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .work .modal .modal-left .thumbs {
    margin: 7rem 0;
  }
}
@media screen and (max-width: 800px) {
  .work .modal .gallery-box .gallery {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .work .modal .modal-left {
    overflow-y: auto;
  }
}
@media screen and (max-width: 560px) {
  .work .modal .gallery-box .gallery {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .work .modal .modal-left .thumbs {
    margin: 8rem 0;
  }
}
